h3
{
    font-size: 25px !important;
    color: white;
}

.btn-info:hover
{
    background-color: rgb(212, 33, 153);
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(245, 1, 143);}
    to {box-shadow: 1px 1px 38px rgb(124, 6, 79);}
}